body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-image {
  width: 200px;
  margin-bottom: 50px;
}

.main-button {
  margin-top: 50px;
  width: 300px;
  height: 50px;
  border-color: firebrick;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-header {
  height: 50px;
  width: 100%;
  background-color: dodgerblue;
}

.main-secondary-text {
  margin-top: 10px;
}

.main-sign-in {
  font-weight: bold;
  color: darkblue;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sign-up-input {
  margin-top: 20px;
  color: blue;
}

.signup-button {
  margin-top: 20px;
}

.fields-container {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.field-input {
  margin-right: 10px;
}
